node_modules/
.env
# build/ - build now since CI fails on timeout
cli/
kratos.json
stories/
storybook.js
*.log
nodemon.json
./index.js
gitall
./build

# Specific markdown to ignore
manual/Algorithms/ANZ-Algo.md
