[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"
requests = "*"
pillow = "*"
python-dotenv = "*"
pyunsplash = "*"
python-frontmatter = "*"
pyinquirer = "*"

[dev-packages]
mypy = "*"
pip-tools = "*"
pretty-errors = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
